<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MLops -->
      <package
            uri="http://mlops.ensias.ma"
            class="mlops.MlopsPackage"
            genModel="model/MLops.genmodel"/>
   </extension>

</plugin>
